<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="card align-items-center">
            <h1 class="card-header">Edit Wolf</h1>
            <div class="card-body">
                <form action="/wolves/<%=w._id%>" method="POST">
                    <div class="form-group row">
                        <div class="col-xs-2">
                            <p>Name: <input class="form-control" type="text" name="name" value="<%=w.name%>">
                            </p>
                            <p>Age: <input class="form-control" type="number" name="age" value="<%=w.age%>">
                            <br />
                            <input class="btn btn-secondary form-control" type="submit" value="Update">
                        </div>
                    </div>
                </form>
                <form action="/">
                    <input class="btn btn-warning form-control" type="submit" value="Cancel">
                </form> 
                <br />
                <form action="/wolves/destroy/<%=w._id%>" method="post">
                    <input class="btn btn-danger form-control" type="submit" value="Delete">
                </form>      
            </div>
        </div>
    </div>
</body>

</html>